{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

    <title>Digisim Workshop</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113699821-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-113699821-1');
    </script>

</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>About Event</h2>
<p  style=" text-align: left">Digisim basically stands for digital simulation.
And digital simulation in layman terms can be expressed
as the running of a digital system’s model. Digisim, is
therefore a platform to explore and gain new insights into
technology and to estimate the performance of systems
without going into analytical solutions. Digisim is an event
where participants have to simulate complex digital
circuits. Participants will learn advanced circuit design and
simulation.
</p>
<h2>
Book I
</h2>
        <p  style=" text-align: left"><b>Topics covered:</b> Digital Design by Morris Mano
            <a class="btn" href="https://drive.google.com/open?id=1W9e8sbG18zcrM54sq-WD0vUmDFjd7Clm">Book</a><br>
</p><h2>
Book II
</h2>
        <p  style=" text-align: left"><b>Topics covered:</b> Fundamentals of Logic Design by Charles H. Roth
            <a class="btn" href="https://drive.google.com/open?id=1Jb0Ky_EcZuKPeriu5uK7q8qfkPXvLBnd">Book</a><br>
</p>
<h2>
Contact Details:
</h2>
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Vidit Agarwal</div>
            <div class="col m6">vidit.agarwal.ece15@itbhu.ac.in</div>
            <div class="col m3">9435283098</div>
        </div>
        <div class="row">
            <div class="col m3">Pramod Ghuge</div>
            <div class="col m6">ghuge.pramod.ece15@itbhu.ac.in</div>
            <div class="col m3">9834504961</div>
        </div>
        <div class="row">
            <div class="col m3">Sai Teja Khajjayam</div>
            <div class="col m6">khajjayam.steja.ece15@itbhu.ac.in</div>
            <div class="col m3">9452889342</div>
        </div>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>
