{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

    <title>I-chip</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113699821-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-113699821-1');
    </script>

</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>Introduction</h2>
  <!-- style=" text-align: left">Sponsored by: <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Mentor_Graphics_Logo.svg/1280px-Mentor_Graphics_Logo.svg.png" height="150" width="400" /><br>
    -->
<p>
    An HDL event: Now there is no need to manually place gates and transistors to build electronic circuits. Describe complex circuits at an abstract level in terms of functionality and data flow by designing those circuits in HDLs. This FPGA Design Contest requires one to write the code for the given problem statement in either VHDL or Verilog and optimize it, then dump the code on the FPGA Kit to physically realize the design that was coded.
</p>
<h2>
Problem Statement:
</h2>
<p  style=" text-align: left">
    <b>Round1:</b> Implement the <a href="https://drive.google.com/open?id=0BwHUS7zHbJO_bDAwc2RyYzhBZG5yZGc4cFlUZVB4RE5MNUFB">BAG LEDs</a> on FPGA. <br>
    <b>Round2:</b>Implement 32-bit β non-pipelined Instruction Set Architecture processor in verilog. Click  <a href="https://drive.google.com/open?id=0BwHUS7zHbJO_b3FaeGljVE1DVk5DX01WOHc5TklZeWdaZnpZ"> here </a> for instructions to be implemeted.<br>

</p>

<h2>
Event Structure:
</h2>
<p  style=" text-align: left">
        Maximum number of participants will be 2 in a team.<br>
        There are two rounds. 1st round has both simulation and synthesis on board. 2nd round has only simulation part.<br>
        Evaluation Criteria for 1st round:<br>
For 1 st year: max- 40points<br>
For 2 nd year: max- 20points<br>
For 3 rd year: max- 10points<br>

    <!--
Edge and corner detection in a greyscale image.<br>
There are 2 parts<br>
1)  Simulation<br>
2)  Synthesis<br>
-->
</>
<h2>
Judging Criteria:
</h2>
<p  style=" text-align: left">
    Accuracy.<br>
    Run time (frequency of operation and latency).<br>
    Resources used in the FPGA.<br>
The design must cover all aspects of problem statement and shows correct simulation for all test cases.<br>
    <!--
    Accuracy.<br>
    Run time (frequency of operation and latency).<br>
    Resources used in the FPGA.<br>
The design must cover all aspects of problem statement and shows correct simulation for all test cases.<br>
-->
</p>
<h2>
Contact Details:
</h2>
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Vibhour Bansal</div>
            <div class="col m6">vibhour.bansal.ece15@itbhu.ac.in</div>
            <div class="col m3">8574742821</div>
        </div>
        <div class="row">
            <div class="col m3">Sahil Agarwal</div>
            <div class="col m6">sahil.agarwal.ece15@itbhu.ac.in</div>
            <div class="col m3">7233022578</div>
        </div>
        <div class="row">
            <div class="col m3">Mithilesh Krishan</div>
            <div class="col m6">mithilesh.krishan.ece15@itbhu.ac.in</div>
            <div class="col m3">9628213697</div>
        </div>
    </div>
    </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>
