{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

    <title>Spybits</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113699821-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-113699821-1');
    </script>

</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>Introduction</h2>
<p  style=" text-align: left">Does hacking attract you? Do you want to know how your confidential information is kept secret from hackers? <br>If your answer is YES! Then Cryptography is the field, answers you all these questions. Cryptography is the art and science of keeping information secure from unintended audiences. Conversely, cryptanalysis is the art and science of breaking encoded data.
                        <b>Udyam’18</b> presents you <b>Spybits</b>, an event, where you will learn how to protect your conversation safe from eavesdroppers and even how to break into secrets of others.
</p>
<h2>
Problem Statement:
</h2>
<p  style=" text-align: left">
    •	There will be an online qualifying round in first week of april , details of which would be updated soon.<br>
•	On-site problem statement would be revealed on the spot.<br>
    Prerequisites : basic Mathematics, basic knowledge of cryptography, 	Aptitude (Event ppts can be downloaded from the workshop section).


    <!--
<b> Pre-event Problem Statement:</b> <a class="btn" href="https://drive.google.com/folderview?id=0B5cpGFrHZgOPcXJTZUVsNG1oSGc&usp=sharing">Download</a><br>
    <b>Last Date for submission pre-event solution is 15<sup>th</sup> Feb, 2016</b><br><br>
    The on-site round will held on <b>25<sup>th</sup> Feb, 2016</b><br>
The problem statement will be disclosed on the spot.<br>
Here's the last year problem statement so just give an idea:-<br>
1.  Participants need to break the security of RSA based cryptosystem.<br>
    Public key and an encrypted message will be provided, and the message have to be retrieved.<br>
2. Identify the pattern in a small part of image and reproduce the complete image.<br>
3. (Bonus round)Participants are required to build a terminal software either in java, python or C++ to encrypt/decrypt a text file(.txt) using DES CBC
-->
</p>
<h2>
Event Structure:
</h2>
<p  style=" text-align: left">
    Max participants = 2 (For 1st and 2nd year)<br>
		             = 1(For 3rd year)<br>

•	On-site Round :<br>
	1. This will be of three hours.<br>
	2. A master problem would be made available throughout the span of the event.<br>
	3. Apart from this, all the teams have to solve 3 more inter related problems, which would be revealed one after the other.<br>
	Prerequisites:  MATLAB basics, RSA algo, Diffie-Helman key exchange algo, Steganography, Basics of cryptography.<br>

Note : Bring at least one laptop per team<br>


    <!--
<b>There will be 2 rounds: A pre-event round (bonus!) and a final on-site round.</b><br>
    Software: Participants can use Java, C/C++ or Python only.<br>
    Team specifications: A team consists of maximum of 2 members.<br>
    There will be a special prize for the best team from first year.
-->
</p>
<h2>
Judging Criteria:
</h2>
<p  style=" text-align: left">
    •	Online registration is mandatory for participation.<br>
•	Qualifying round would account for 10% of the total points for all teams.<br>
•	On-site Round : Master problem – 30%<br>
                          • Each of the subproblems would have 20% weightage each.<br>
•	Points awarded for any team would depend on the time taken per problem solved.<br>
•	Final decision would be at the discretion of the event cordinators.<br>
•	Use of unfair means (you know what that means) would lead to disqualification.<br>

    <!--
The teams will be judged on the following criteria:<br>
    1.Time taken to encrypt/decrypt.<br>
    2.Semantic Security of the cipher.
-->
</p>
<h2>
Contact Details:
</h2>
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Shubham Pandey</div>
            <div class="col m6">shubham.pandey.ece15@itbhu.ac.in</div>
            <div class="col m3">8109612057</div>
        </div>
        <div class="row">
            <div class="col m3">Samarth Koul</div>
            <div class="col m6">samarth.koul.ece15@itbhu.ac.in</div>
            <div class="col m3">7755033443</div>
        </div>
        <div class="row">
            <div class="col m3">Samikshya Chand</div>
            <div class="col m6">samikshya.chand.ece15@itbhu.ac.in</div>
            <div class="col m3">9455225204</div>
        </div>
        <div class="row">
            <div class="col m3">Naman Kansal</div>
            <div class="col m6">naman.kansal.ece15@itbhu.ac.in</div>
            <div class="col m3">7599677533</div>
        </div>
    </div>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>
