{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>Mosaic Workshop</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>About Event</h2>
<p  style=" text-align: left">Have you heard about the sixth sense technology developed by Pranav Mistry and have you ever
thought of trying to implement a few of its basic features by yourself? If NO, then Google it silly. If
YES, then we present you Mosaic, a platform where you are going to implement basic <b>motion
tracking & gesture recognition</b> using image processing and machine learning techniques.<br>
You have to design a <b>Real Time Gesture Controlled Image Editor</b> implementing basic functionalities
like scaling, rotating, manipulating and saving the image.
</p>
<h2>
Workshop I
</h2>
        <p  style=" text-align: left"><b>Topics covered:</b> Matlab basics, Image Processing
            <a class="btn" href="https://drive.google.com/open?id=0B-JQ-GIn6zXIaHV4VFpjYng5Mjg">Slides</a><br>
</p><h2>
Workshop II
</h2>
        <p  style=" text-align: left"><b>Topics covered:</b> Video Processing
            <a class="btn" href="https://drive.google.com/file/d/0B-JQ-GIn6zXIclptLVBiVDBsT00/view?usp=sharing">Slides</a><br>
</p><h2>
Workshop III
</h2>
        <p  style=" text-align: left"><b>Topics covered:</b> Machine Learning
            <a class="btn" href="https://drive.google.com/file/d/0B-JQ-GIn6zXILThickI5YXNWSms/view?usp=sharing">Slides</a><br>
</p>
<h2>
Contact Details:
</h2>
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3"> Parth Shyara </div>
            <div class="col m6">shyara.parth.ece15@itbhu.ac.in</div>
            <div class="col m3">9956034369</div>
        </div>
        <div class="row">
            <div class="col m3"> Sajjal Kansal </div>
            <div class="col m6">sajjal.kansal.ece13@itbhu.ac.in</div>
            <div class="col m3">9915259259</div>
        </div>
        <div class="row">
            <div class="col m3"> Ekansh Gupta </div>
            <div class="col m6">ekansh.gupta.ece15@itbhu.ac.in</div>
            <div class="col m3">7054223124</div>
        </div>
        <div class="row">
            <div class="col m3"> Niharika Mukherji </div>
            <div class="col m6">niharika.mukherji.ece15@itbhu.ac.in</div>
            <div class="col m3">9721913065</div>
        </div>
        <div class="row">
            <div class="col m3"> Hardik Singla </div>
            <div class="col m6">hardik.singla.ece15@itbhu.ac.in</div>
            <div class="col m3">8368731285</div>
        </div>
    </div>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>
