{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="UDYAM, EES, Electronics iitbhu technical fest, iit(bhu) ees">
    <meta name="author" content="Amit Gupta, Bhavdeep Singh">

    <title>UDYAM 2018 |{% block title %} Login {% endblock %}</title>

        <link href="{% static 'css/materialize.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href="{% static 'css/navigation.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <!-- Scroll Animation Initialize -->
    <style> [data-sr] { visibility: hidden; } </style>


<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113699821-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-113699821-1');
    </script>

</head>
<body>
    <div id="particles-js" class="green-wine"></div>
    <div class="green-mint"></div>
    {% block body %}
    {% endblock %}
        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
        <script src='{% static "js/scrollReveal.min.js" %}'></script>
        <script src="{% static 'js/laurenz.js' %}"></script>
    {% block js %}
    {% endblock %}

<div class="container" style="background-color:#64e5c3">

{% block content %}
  <div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openCity('Sign Up')">Sign Up</button>
  <button class="w3-bar-item w3-button" onclick="openCity('Login')">Login</button>
</div>

<div id="Sign Up" class="w3-container city">
  <h2>Sign Up</h2>
  <form method="post" >
    {% csrf_token %}

       <p><label for="id_username"><font color="black" size="4">Username:</font></label> <input id="id_username" maxlength="30" name="username" type="text" /> </p>
<p><label for="id_password1"><font color="black" size="4">Password:</font></label>
    <input id="id_password1" name="password1" type="password" /></p>
<p><label for="id_password2"><font color="black" size="4">Password Confirmation:</font></label>
    <input id="id_password2" name="password2" type="password" /> <span class="helptext">Enter the same password as above, for verification.</span></p>

    <button type="submit">Sign up</button>
  </form>

</div>

<div id="Login" class="w3-container city" style="display:none">
  <h2>Login</h2>
   <form method="POST" action="login/">
        {% csrf_token %}
        <p>
            <label><font color="black" size="4">Username</font></label>
            <input type="text" name="username" size="6" >
        </p>
        <p>
            <label><font color="black" size="4">Password</font></label>
            <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>
</div>

<script>
function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
}
</script>

{% endblock %}

</div>
</body>
</html>

